.notepad_container {
    background: url('../img/paper.png') !important;
    background-repeat: repeat;
    display: block;
    overflow: hidden;
}

.notepad_header {
    font-weight:bold;
    text-decoration: underline;
}

.notepad_list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #555;
    font-size: 22px;
    font-family: courier, monospace;
    border: 1px solid #dedede;
}

.notepad_list li {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    text-indent: 25px;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    font-family:"Reenie Beanie",arial,sans-serif;
    font-size:140%;
}

.notepad_list li:hover {
    background-color: rgba(90,90,90,0.5);
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -ms-transition:     all 0.2s;
    -o-transition:      all 0.2s;
}

.notepad_list li div {
    display: block;
    float: left;
    padding: 3px 5px;
}

.red_lines {
    border-left: 1px solid #ffaa9f;
    border-right: 1px solid #ffaa9f;
    width: 5px;
    float: left;
    height: 600px;
    margin-left: 40px;
}

.notepad_shadow {
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
}