.catch_notes,.catch_note_item{
    list-style:none;
}
.catch_notes{
    overflow:hidden;
}
.catch_notes .catch_note_item a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
}
.catch_notes .catch_note_item{
    margin:1em;
    float:left;
}
.catch_notes .catch_note_item h2{
    font-size:140%;
    font-weight:bold;
    padding-bottom:10px;
}
.catch_notes .catch_note_item p{
    font-family:"Reenie Beanie",arial,sans-serif;
    font-size:180%;
}
.catch_notes .catch_note_item a{
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform:rotate(-6deg);
}
.catch_notes .catch_note_item:nth-child(even) a{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
}
.catch_notes .catch_note_item:nth-child(3n) a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
}
.catch_notes .catch_note_item:nth-child(5n) a{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
}
.catch_notes .catch_note_item a.begin_drop{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position:relative;
    z-index:5;
}

.remove_button {
    position: relative;
    float: right;
    display: none;
    cursor: pointer;
    z-index: 1;
}