.container {
    display: table;
    background-color: #f5f5f5;
}

.table-row {
    white-space: nowrap;
    margin-top: 5px;
}

.table-cell {
    float: left;
    padding: 10px;
    white-space: nowrap;
}

.rowGroup {
    display:table-row-group;
}
.tableRow {
    display:table-row;
}
.cell {
    display:table-cell;
    width:27%;
}
.headLabel {
	color: gray;
}
.main-head {
	margin-bottom: 20px;
    /*background: url('../img/leather_1.png') !important;*/
    background-repeat: repeat;
    min-height: 200px;
}
.droppable {
	margin: 10px;
    text-align: center;
}
.cellContainer {
	margin-right: 10px;
	float: left;
}
.lineRow {
	float: none;
}

.draggable  {
    z-index: 1000;
    /*margin-top: 10px;*/
    /*border: 1px solid #ddd;*/
    /*background-color: #eee;*/
}

.ui-draggable-dragging {
    background: #aaa;
    opacity: 0.5;
}

.ui-widget-header {
    z-index: 1000;
}

.controls {
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow:  0 1px 0 rgba(255,255,255,0.2);
    border-style:outset;
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    background: url('../img/chalkboard-bg.jpg') !important;
    background-repeat: repeat;
}

.sortable_list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #555;
    font-family: courier, monospace;
    border: 1px solid #dedede;
}

.sortable_list li div {
    display: block;
    float: left;
    padding: 3px 5px;
}

.sortable_list li {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    height: auto;
    padding: 5px;
    text-transform: capitalize;
}

.sortable_list li.list_item_value:hover {
    background-color: #f0f0f0;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -ms-transition:     all 0.2s;
    -o-transition:      all 0.2s;
}
