<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <link rel="stylesheet" type="text/css" href="css/table.css">
    <link  href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/sticky_notes.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/notepad.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css"/>
    <link rel="stylesheet" type="text/css" href="css/jquery.fancybox-buttons.css"/>
    <title>Test CSV Reader</title>
</head>
<body>
<div id="page-wrapper" ng-controller="FileController as fileCtrl">
    <div class="col-md-12 main-head">
        <h1 class="headLabel">CSV File Reader</h1>
        <div class="form-group col-md-6">
            <label for="fileInput">Select a text file</label>
            <input type="file" id="fileInput" on-read-file="fileCtrl.readInFile($fileContent)">
        </div>
        <div class="col-md-6" ng-controller="CategoryController as noteCtrl">
            <form ng-submit="addCategory()">
                <input type="text" ng-model="categoryLabel" size="20" maxlength="10"
                       placeholder="Add a new sticky category" required>
                <input class="btn-primary" type="submit" value="Add">
            </form>
            <div style="color: white">{{ amountTotal() }}</div>
        </div>
    </div>
    <div id="fillme" class="col-md-8">
        <statement></statement>
    </div>
    <div class="large-4 columns col-md-4" ng-controller="CategoryController as noteCtrl">
        <categories></categories>
    </div>
</div>
<script src="js/jquery-1.11.1.js"></script>
<script src="js/jquery-ui-1.10.4.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-buttons.js"></script>
<script src="js/jquery.csv.js"></script>
<script src="js/angular.js"></script>
<script src="js/FileController.js"></script>
<script src="js/CategoryController.js"></script>
<script src="js/app.js"></script>
<script src="js/main.js"></script>
</body>
</html>