<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <link rel="stylesheet" type="text/css" href="../css/table.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/notepad.css">
    <title>Category Details</title>
</head>
<body>
    <div class="notepad_container notepad_shadow" ng-controller="TestController as testCtrl">
        <div class="red_lines"></div>
        <ul class="notepad_list">
            <li class="draggable">
                <span>{{ number1 }}</span>
            </li>
        </ul>
    </div>
    <script src="../js/angular.js"></script>
    <script src="../js/app.js"></script>
    <script src="/js/TestController.js"></script>
</body>
</html>