<ul class="catch_notes">
    <li class="catch_note_item" ng-repeat="category in categories" make-dropable>
        <img class="remove_button" src="img/close-button.png" alt="remove" title="Remove" ng-click="removeCategory($index)"/>
        <a href="html/category.html" class="droppable fancybox fancybox.iframe" data-val>
            <h4>{{ category.label }}</h4>
            <p>{{ category.amount }}</p>
        </a>
    </li>
</ul>