<div class="notepad_container notepad_shadow" ng-show="inputfile.csvobjects.length > 0">
    <div class="red_lines"></div>
    <ul class="notepad_list">
        <li class="notepad_header">
            <span ng-style="{width: columns}" class="" ng-repeat="(key, value) in inputfile.csvobjects[0]">{{ key }}</span>
        </li>
        <li class="draggable" ng-repeat="obj in inputfile.csvobjects">
            <span ng-style="{width: columns}" class="" ng-repeat="(key, value) in obj" make-draggable>{{ value }}</span>
        </li>
    </ul>
</div>